@use "variables";
@use "mixins";

.excel__table {
    position: absolute;
    right: 0;
    left: 0;
    top: variables.$header-height + variables.$toolbar-height + variables.$formula-height;
    overflow-x: auto;
    padding-bottom: 2px;

    .row {
        display: flex;
        flex-direction: row;
        min-height: 20px;
        height: variables.$row-height;
    }

    .row-info {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: variables.$info-cell-width;
        height: 100%;
        border: 1px solid variables.$border-color;
        background-color: #f8f9fa;
        border-top: none;
    }

    .row-data {
        display: flex;
    }

    .column {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f8f9fa;
        min-width: 40px;
        width: variables.$cell-width;
        height: 100%;
        border: 1px solid variables.$border-color;
        border-top: none;
        border-left: none;
    }

    .cell {
        min-width: 40px;
        padding: 5px;
        width: variables.$cell-width;
        height: 100%;
        border: 1px solid #e2e3e3;
        border-top: none;
        border-left: none;
        color: #333;
        white-space: nowrap;
        outline: none;

        &.selected {
            border-color: transparent;
            box-shadow: 0 0 0 2px variables.$primary-color;
            z-index: 2;
        }
    }

    .col-resize, .row-resize {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: variables.$primary-color;
        opacity: 0;

        &:hover {
            opacity: 1;
        }

        &_visible {
            opacity: 1;

            &:before {
                content: "";
                position: absolute;
                background-color: variables.$primary-color;
            }
        }
    }

    .col-resize {
        top: 0;
        width: 4px;

        &:hover {
            cursor: col-resize;
        }

        &_visible {
            &:before {
                right: 0;
                top: 0;
                width: 1px;
                bottom: -5000px;
            }
        }
    }

    .row-resize {
        left: 0;
        height: 4px;

        &:hover {
            cursor: row-resize;
        }

        &_visible {
            &:before {
                left: 0;
                bottom: 0;
                height: 1px;
                right: -5000px;
            }
        }
    }
}